@charset "UTF-8";
/*
Theme Name: Joel Tai One
Theme URI: https://example.com/themes/joel-tai-one/
Author: the Joel Tai
Author URI: https://langarajoel.mooo.com
Description: Child theme for twentyseventeen
Template: twentyseventeen
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: jt1
Tags: one-column
*/
.home main article div{
    background-color: lightgrey;
}
.home main article header{
    background-color: lightgrey;
}
.page-id-40 main img {

    display: inline;
}